<div class="messages">
  <div class="container">
  	<% @generes.each do |genere| %> 
			<div class="message"> 
  			<p class="content"><%= genere.name %></p> 
  			<p class="content"><%= genere.description %></p> 
			</div> 
		<% end %>
		<%= link_to 'New Message', "messages/new" %>
  </div>
</div>